.container {
  width: 12rem;
  height: 15rem;
  perspective: 1000px;

  @media (max-width: 768px) {
    height: 13.5rem;
    width: 10rem;
  }
}

.container-bottom {
  position: absolute;
  color: var(--text-red);
  font-weight: 700;
  font-size: 1.1rem;
  bottom: -30px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;

  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.animation-flip-card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 2px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.219);

  backface-visibility: hidden;
}

.card-front {
  background-size: cover;
  background-position: center;
}

.card-back {
  text-align: center;
  font-weight: 600;
  background: white;
  transform: rotateY(180deg);
}

.card-front .container-bottom {
  opacity: 1;
}

.card-back .container-bottom {
  opacity: 0;
}

.animation-flip-card .card-front .container-bottom {
  opacity: 0;
}

.animation-flip-card .card-back .container-bottom {
  opacity: 1;
}
