header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #020617;
  z-index: 999;
}

.header-container {
  max-width: 1250px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: .5em;
}

.header-title {
  font-size: 2.3rem;
  font-weight: 700;
}

h1 {
  color: var(--accent);
  font-size: 2.5rem;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
}

.nav {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  margin-right: 1rem;

  a {
    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    gap: 4rem;
  }
}

.wrapper-nav-elements {
  display: flex;
  gap: 2rem;
}

a.active-route {
  color: #7C3AED;
  font-weight: 700;
}

.icon {
  display: none;

  @media (max-width: 768px) {
    display: block;
    width: 10%;
  }
}

.first-part-title {
  color: white;
}

.second-part-title {
  color: #7C3AED;
}
