<header>
  <div class="header-container">

    @if (isBrowser) {
     <a [routerLink]="(auth?.isAuthenticated$ | async) ? '/explorar' : '/'" class="header-title">
      <span class="first-part-title">Dojo</span>
      <span class="second-part-title">Kotoba</span>
    </a>


      @if (auth?.isLoading$ | async) {
        <div>Loading...</div>
      }

      @if (auth?.error$ | async; as error) {
        <div>{{ error.message }}</div>
      }

      @if (auth?.isAuthenticated$ | async) {
        <nav class="nav">
          <div class="wrapper-nav-elements">
            <a
              style="cursor: pointer;"
              (click)="changeRoute('Explorar')"
              routerLink="/explorar"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active-route">
              Explorar
            </a>

            <a
              style="cursor: pointer;"
              (click)="changeRoute('Jogos')"
              routerLink="/games"
              routerLinkActive="active-route">
              Jogos
            </a>
          </div>

          <span class="icon">
            <app-bottom-sheet></app-bottom-sheet>
          </span>
        </nav>

        <app-profile></app-profile>
      } @else {
        <app-login-button></app-login-button>
      }
    }

  </div>
</header>
