<header>
  @if (isBrowser) {
    <h1>DojoKotoba</h1>

    @if (auth?.isLoading$ | async) {
      <div>Loading...</div>
    }

    @if (auth?.error$ | async; as error) {
      <div>{{ error.message }}</div>
    }

    @if (auth?.isAuthenticated$ | async) {
      <nav class="nav">
        <div class="wrapper-nav-elements">
          <a
            style="cursor: pointer;"
            (click)="changeRoute('Explorar')"
            routerLink="/explorar"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active-route">

            Explorar
          </a>

          <a
            style="cursor: pointer;"
            (click)="changeRoute('Jogos')"
            routerLink="/games"
            routerLinkActive="active-route">
              Jogos
          </a>
        </div>

        <span class="icon">
          <app-bottom-sheet></app-bottom-sheet>
        </span>

      </nav>
      <app-profile></app-profile>
      <!-- <app-logout-button></app-logout-button> -->
    } @else {
      <app-login-button></app-login-button>
    }

  }

</header>
