.upper-section {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  h2 {
    font-size: 2rem;
    color: #571a11;
  }

  p {
    color: #5e241ab7;
  }

  div {
    display: block;
    width: 25rem;
    position: relative;

    input {
      width: 100%;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.404);
      border-radius: 9px;
      padding: .6rem .6rem .6rem 2rem;
      margin-top: 1rem;
    }

    img {
      position: absolute;
      height: 20px;
      width: 20px;
      left: .5rem;
      top: 1.5rem;
    }

    @media (max-width: 568px) {
      width: 20rem;
    }
  }

  .btns-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;

    button {
      font-weight: 600;
      min-width: 6rem;
      border: 1px solid rgba(0, 0, 0, 0.226);
      border-radius: 6px;
      padding: .5rem;
      cursor: pointer;
    }

    @media (max-width: 568px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

  }
}

.hr {
  max-width: 80%;
  margin: 1.5rem auto 0 auto;
}

.active-btn {
  color: white;
  background-color: #8d2313;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  gap: 2.5rem;
  margin: 1rem auto 4rem auto;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}
