<div class="container">

  <div class="container-wrapper">
    @for (item of games; track item.title) {
      <div class="container-content">
        <img [src]="item.image" [alt]="item.title">

        <div class="container-info">
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
          <button (click)="goToGame()">Jogar</button>
        </div>
      </div>

      @if (gameController.isGameRender) {
        <app-modal-games [gameComponent]="item.component"></app-modal-games>
      }
    }
  </div>

</div>

<!-- Clicou em um jogo, abre o modal -->


