<div class="container">
  <div class="container-content">

    <h2>Quiz</h2>

    <div class="progress-bar">
      <div
        class="progress-fill"
        [style.width.%]="progressPercentage">
      </div>
    </div>

    <div class="container-view">
      <div>Perguntas: {{getQuestionsDone}}/{{getTotalQuestions}}</div>
      <div>✔ {{getCorrectQuestions}}</div>
      <div>✖ {{getWrongQuestions}}</div>
    </div>

    <img [ngSrc]="quiz.currentQuestion.imageUrl" [alt]="quiz.currentQuestion.japanese">

    <p>{{ quiz.currentQuestion.japanese }}</p>

    <div class="container-btn">
      @for (option of options; track option.japanese) {
        <button (click)="checkAnswer(option)">
          {{ option.meaning }}
        </button>
      }
    </div>

  </div>
</div>

@if (quiz.limitReached) {
  <app-modal-feedback (restart)="resetQuiz()"></app-modal-feedback>
}

